src/**
scripts/**
.vscode/**
docs/**

*.vsix
*.tsbuildinfo
tsconfig*.json
.gitattributes
.prettierignore
.prettierrc.json

node_modules/@types/**
node_modules/@vscode/**
node_modules/esbuild/**
node_modules/prettier/**
node_modules/react/**
node_modules/react-dom/**
node_modules/typescript/**
node_modules/vitest/**
